@import url('https://fonts.googleapis.com/css2?family=Borel&family=Open+Sans:wght@400;700&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Open+Sans:wght@400;700&family=Poppins&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: "Poppins";
    background-color: #d1dedd;
}
li{
    list-style: none;
}
.grid-container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    column-gap: 30px;
}

header{
    grid-column: span 3;
    border-bottom: 1px solid rgba(0, 0, 0, 0.356);
    text-align: center;
    
}
nav{
    padding: 30px;
    border-right: 1px solid rgba(0, 0, 0, 0.356);
}
nav li a{
    text-decoration: underline;
}

article{
    padding: 20px;
}
article h2{
    font-size: 3rem;
    max-width: 800px;
    text-align: center;
}
article img{
    width: 100%;
}
article p{
    margin-top: 30px;
    line-height: 2em;
    color: #777;
}

aside{
    padding: 30px;
    border-left: 1px solid rgba(0, 0, 0, 0.356);
    
}
footer{
    grid-column: span 3;    
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.356);
    font-size: 0.6rem;
}

/* responsive */
@media (max-width:1040px){
    nav{
        grid-column: span 3;
        border-right: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.356);
    }
    nav li {
        display: inline-block;
        margin-right: 10px;
    }
    article{
        grid-column: span 2;
    }
    aside{
        font-size: 0.8rem;
    }
}

@media (max-width:768px){
    aside,article{
        grid-column: span 3;
        padding: 20px;
    }
    aside{
        border-left: none;
        border-top: 1px solid rgba(0, 0, 0, 0.356);
    }
    aside{
        display: inline-block;
    }
    nav{
        padding: 20px;
    }
    nav li{
        font-size: 0.8rem;
    }
    article h2{
        font-size: 2.3rem ;
    }
    article p{
        font-size: 0.9rem;
    }
    
}